* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: flex;
	justify-content: space-between;

	color: black;

	height: 80px;
	padding: 0 30px;
	padding-top: 20px;
}

.container {
	height: 100vh;
	/* background-color: black; */
	background-image: linear-gradient(
			135deg,
			rgba(238, 255, 0, 0.183),
			rgba(0, 0, 0, 0.5)
		),
		url(./assets/bg.avif);
	background-size: cover;
	background-position: center;
	position: relative;
}
#logo {
	width: 100px;
	height: 60px;
	border-radius: 50%;
	filter: drop-shadow(0 2px 20px #91b8bb);
}
#user {
	width: 40px;
	height: 40px;

	filter: drop-shadow(0 0 10px #91b8bb);
}
.container input {
	padding: 5px;
	padding-left: 20px;
	width: 700px;
	height: 50px;
	border: 0;
	outline: 0;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 20px;
	font-size: 18px;
	box-shadow: 0 5px 20px #000;
	color: white;
}
.container input::placeholder {
	color: white;
	font-size: 15px;
}
.body {
	position: absolute;
}
.footer {
	color: white;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	position: absolute;
	bottom: 20px;
	left: 40%;

	background: transparent;
	font-size: 20px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.footer img {
	width: 30px;
	height: 30px;
	filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
}
